extends layout



block content
    h1 Hello World

    a(href="/game") Start Game


    br
    input(type="text", id="server", placeholder="<IP>:<Port>")
    button(id="connect") Connect

    br
    input(type="text", id="name", placeholder="Player Name", maxlength="15")
    input(type="text", id="spriteID", placeholder="Sprite ID")

    script(type="module", src="js/menu.js")
